<!DOCTYPE html>
<html>
  <head>
    <title>Houseplants</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <h1>Houseplants</h1>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %> 
          <%= link_to "Log Out", logout_path, method: :delete %>
        <% end %>
          </ul>
    </div><!--/.nav-collapse -->

    <!-- content -->
    <div class="container"  role="main">
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
      <%= yield %>
    </div>
  </body>
</html>
